<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josh Hess">
    <meta name="description" content="Personal blog for Josh Hess">
    <title>Josh Hess' Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1><a href="/posts">Josh's Personal Blog</a></h1>
        <nav>
            <a href="/posts">Home</a>
            <a href="/posts/new">Create New Post</a>
        </nav>
    </header>
    <main>
